.header__lang-link {
  color: white;
  max-width: 30px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  transition: .3s;
  text-align: right;
}

.header__lang-link:hover{
  opacity: .8;
  
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }   
}