.places {
  display: grid;
  gap: 80px;
  max-width: 984px;
  width: 100%;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }   
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-top: 88px;
    gap: 73px;
  }   
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin-top: 64px;
    gap: 50px;
  }   
}