.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 48px 0;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px 0;
  }   
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0 16px 0;
  }   
}
