.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 18px;
}

@media screen and (max-width: 320px) {
  .footer__links {
    grid-template-columns: auto;
    gap: 32px;
  }   
}