.footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-content: space-between;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px 24px 24px;
    gap: 30px;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    grid-template-columns: auto;
    gap: 48px;
  }   
}

@media screen and (max-width: 320px) {
  .footer {
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 64px 16px 24px;
  }   
}